:root {
  /* ------------------------- */
  /* ANIMATIONS                */
  /* ------------------------- */
  
  /* Durations */
  --duration-fast: 0.2s;
  --duration-normal: 0.4s;
  --duration-slow: 0.8s;
  
  /* Easings */
  --ease-default: ease-in-out;
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
